## Functions

In [1]:
def hello_function():
    print('Hello, World!')

hello_function()

Hello, World!

In [2]:
def hello_return():
    return 'Hello, World!'
print(hello_return())

Hello, World!

### Parameters in function

In [3]:
def func_para(firstname, surname):
    print(f'Hello {firstname} {surname}')

func_para('Nicholas', 'Tureczek')

Hello Nicholas Tureczek

In [4]:
def arg_para(*args):
    print('Here comes all the arguments\n' + str(args))
arg_para('I can', 'write', 'a', 'lot of arguments', 'in here')

Here comes all the arguments
('I can', 'write', 'a', 'lot of arguments', 'in here')

In [5]:
def kwargs_para(**kwargs):
    print('The same as arguments, but here it is becoming a key-value pair in a set' + str(kwargs))
kwargs_para(brand = 'Ford',model = 'Mustang', year = 1964)

The same as arguments, but here it is becoming a key-value pair in a set{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

### Lambda expression

In [6]:
plus_lambda = lambda a, b : a + b
multiply_lambda = lambda x, y : x * y

print(plus_lambda(10,90))
print(multiply_lambda(5, 5))

100
25

## Data Structures

### Lists

- Ordered
- Mutable
- Dynamic

myList = [val, val, val, val]

In [7]:
myList = [1, True, "name", ["name1", "name2"], hello_function]

In [8]:
myList

[1, True, 'name', ['name1', 'name2'], <function __main__.hello_function()>]

### Operating on a list in python

In [9]:
print(f'Accessing data in myList: {myList[0]}')
print(f'Accessing data in myList: {myList[-1]}')

Accessing data in myList: 1
Accessing data in myList: <function hello_function at 0x7fd2501c70d0>

In [10]:
print('Changing data in myList:')
myList[0] = 'Changed item'
myList

Changing data in myList:

['Changed item',
 True,
 'name',
 ['name1', 'name2'],
 <function __main__.hello_function()>]

In [11]:
print('Split and change item in myList')
myList[1:2] = ['Splitted changed item', 'Added new item']
myList

Split and change item in myList

['Changed item',
 'Splitted changed item',
 'Added new item',
 'name',
 ['name1', 'name2'],
 <function __main__.hello_function()>]

In [12]:
myList.insert(2, 'inserted item')           # == myList[2:2] = ['inserted item']
myList.extend(['extended item', 'myList'])  # == myList += ['extended item', 'myList']
myList.append('appended item')              # == myList += ['Appended item']
myList

['Changed item',
 'Splitted changed item',
 'inserted item',
 'Added new item',
 'name',
 ['name1', 'name2'],
 <function __main__.hello_function()>,
 'extended item',
 'myList',
 'appended item']

### Tuples
- Collection
- Ordered
- Immutable

myTuple = (val, val, val, val)

In [13]:
myTuple = (1, 'Hello', 3, 4)
myTuple2 = (5, 5, "banana")

In [14]:
print(type(myTuple))
myTuple

<class 'tuple'>

(1, 'Hello', 3, 4)

### Operating on a tuple in python

In [15]:
print(f'Accessing data in myTuple: {myTuple[0]}')

Accessing data in myTuple: 1

In [16]:
myTuple[0] = 4

TypeError: 'tuple' object does not support item assignment

In [17]:
tempTuple = myTuple + myTuple2

tempTuple

(1, 'Hello', 3, 4, 5, 5, 'banana')

In [18]:
tempList = list(tempTuple)
tempList[0] = "Changed"
tempTuple = tuple(tempList)

tempTuple

('Changed', 'Hello', 3, 4, 5, 5, 'banana')

#### Packing / Unpacking

In [19]:
(s1, s2, s3, s4) = myTuple

In [20]:
s1

1

In [21]:
s2

'Hello'

In [22]:
s3

3

In [23]:
s4

4

##

### Set
- Unordered
- Mutable
- No Duplicates

mySet = {val, val, val, val}

In [24]:
mySet = {1, 2, 3, 4, 4, 'banana'}
mySet2 = {5, 6, 7, 1, 2, 3}

In [25]:
print('Accessing data from mySet:', {x for x in mySet})
print('Accessing data from mySet:', {x for x in mySet if x == 'banana'})

Accessing data from mySet: {1, 2, 3, 4, 'banana'}
Accessing data from mySet: {'banana'}

### Operations on Set

In [26]:
mySet.isdisjoint(mySet2)

False

In [27]:
mySet.intersection(mySet2) # if disjoint is False they have something in common

{1, 2, 3}

In [28]:
mySet.union(mySet2)

{1, 2, 3, 4, 5, 6, 7, 'banana'}

In [29]:
print(mySet.difference(mySet2))
print(mySet2.difference(mySet))

{4, 'banana'}
{5, 6, 7}

In [30]:
mySet.symmetric_difference(mySet2)

{4, 5, 6, 7, 'banana'}

In [31]:
mySet.update(mySet2)

In [32]:
mySet

{1, 2, 3, 4, 5, 6, 7, 'banana'}

In [33]:
mySet.remove('banana')
mySet

{1, 2, 3, 4, 5, 6, 7}

In [34]:
mySet.pop()

1

In [35]:
mySet

{2, 3, 4, 5, 6, 7}

##

### Dict

- Ordered
- Immutable
- Key - Value
- No duplicates

    myDict = {
          "key": "value",
          "key": "value",
          "key": "value"
    }

In [36]:
myDict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

In [37]:
print(myDict.get('model'))
print(myDict.get('year'))

Mustang
1964

In [38]:
myDict.update({'year': '2020'})

In [39]:
print(myDict.get('model'))
print(myDict.get('year'))

Mustang
2020

In [40]:
myDict['color'] = "Blue"

In [41]:
myDict

{'brand': 'Ford', 'model': 'Mustang', 'year': '2020', 'color': 'Blue'}

In [42]:
myDict.keys()

dict_keys(['brand', 'model', 'year', 'color'])

In [43]:
myDict.values()

dict_values(['Ford', 'Mustang', '2020', 'Blue'])

### Loops and list comprehension

    [ expression for val in collection ]
    [ expression for val in collection if <statement> ]
    [ expression for val in collection if <statement_1> and <statement_2> ]
    [ expression for value1 in collection_1 and value2 in val in collection_2 ]

#### For loop vs list comprehension

In [44]:
loopList = []

for i in range(1, 11):
    loopList.append(i)
print(loopList)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
[num for num in range(1, 11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [46]:
import time
import functools

def timer(func):
    @functools.wraps(func)
    def wrapper_timer(*args):
        start_time = time.perf_counter()
        value = func(*args)
        end_time = time.perf_counter()
        runtime = end_time - start_time
        print(f'Finished {func.__name__!r} in {runtime:4f} seconds')
        return value

    return wrapper_timer

In [47]:
@timer
def for_loop():
    numbers = []
    for num in range(1000000):
        numbers.append(num)
        
@timer
def list_comprehension():
    [num for num in range(1000000)]

In [48]:
print(for_loop())

print(list_comprehension())

Finished 'for_loop' in 0.107647 seconds
None
Finished 'list_comprehension' in 0.054040 seconds
None

In [49]:
def myList_Comprehension():
    movies1 = ["Avatar", "Babe watch", "Ghostbusters", "Amandas Vacation", "Gattaca", "Star wars", "Gandhi"]
    foundMovies1 = []

    for title in movies1:
        if title.startswith("G"):
            foundMovies1.append(title)
    print(f'found with regular loop: {foundMovies1}')



    movies2 = ["Avatar", "Babe watch", "Ghostbusters", "Amandas Vacation", "Gattaca", "Star wars", "Gandhi"]
    foundMovies = [title for title in movies2 if title.startswith("A")]

    print(f'found with list comprehension: {foundMovies}')
myList_Comprehension()

found with regular loop: ['Ghostbusters', 'Gattaca', 'Gandhi']
found with list comprehension: ['Avatar', 'Amandas Vacation']

In [50]:
# Each element in the forloop is a Tuple, then we check if the year is under 2000 and print only the title
def myList_Comprehension():
    movies1 = [("Avatar", 1942), ("Babe watch", 1999), ("Ghostbusters", 2122), ("Amandas Vacation", 208),
               ("Gattaca", 1818), ("Star wars", 1922), ("Gandhi", 2011)]

    foundMoviesByYear = [title for (title, year) in movies1 if year < 2000]
    # foundMoviesByYear = [(title, year) for (title, year) in movies1 if year < 2000]

    print(foundMoviesByYear)
myList_Comprehension()

['Avatar', 'Babe watch', 'Amandas Vacation', 'Gattaca', 'Star wars']

In [51]:

def myList_Comprehension():
    myList1 = [2, -5, 8]
    print(f"myList * 4 {myList1 * 4}")

    myList2 = [4 * x for x in myList1]
    print(f"myList2 with comprehension {myList2}")

myList_Comprehension()

myList * 4 [2, -5, 8, 2, -5, 8, 2, -5, 8, 2, -5, 8]
myList2 with comprehension [8, -20, 32]